body{
    margin: 0; padding: 0; 
}
#contenedor {
    
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.masterupbox{
   background-color: rgba(177, 69, 69, 0.67)
}
.inicio {
    font-size: 35px; font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}
a[href=""]{
    text-decoration: none;
    color: black;
}
.name{
    padding-left: 40%;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    
}
.profile{
    border-radius: 50%;
    padding-left: 3px;

}