.box{ padding-top : 60px;
   background-color: #c49227;
   width: 100%;
   height: 100vh;   
}
.cont{
    margin-top: 120px;
    margin-left: 15%;
    height: 50vh;
    width: 70%;
    border-radius: 54px;
    background: linear-gradient(145deg, #e9ad2e, #c49227);
    box-shadow:  15px 15px 30px #aa7e22,
    15px -15px 30px #ffc634;
}
.contacto{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}
.email{
    text-shadow:5px 5px 10px #92703c;
    margin-top: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
}